In [1]:
import pandas as pd
import numpy as np



Calls = pd.read_csv('./Calls.csv')
Relationships = pd.read_csv('./RelationshipsFromSurveys.csv')
SMS = pd.read_csv('./SMS.csv')

In [2]:
SMS.head(10)

,user.id,time,incoming,dest.user.id.if.known,dest.phone.hash
0,61,2008-01-01 15:00:25,0,1,3502965008
1,61,2008-01-01 15:00:25,0,61,3480933661
2,61,2008-01-01 15:00:25,1,1,3502965008
3,61,2008-01-01 15:00:25,1,NaN,177622
4,61,2008-01-01 15:00:25,1,61,3480933661
5,37,2008-01-01 17:39:50,1,NaN,1361435264
6,37,2008-01-01 17:39:50,0,NaN,2775336710
7,37,2008-01-02 23:18:10,1,37,310381472
8,37,2008-01-02 23:18:10,1,NaN,2775336710
9,37,2008-01-04 14:55:44,1,NaN,1361435264

In [3]:
print(SMS.isnull().sum())
print(SMS.index)

user.id                      0
time                         0
incoming                     0
dest.user.id.if.known    63804
dest.phone.hash             12
dtype: int64
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            76527, 76528, 76529, 76530, 76531, 76532, 76533, 76534, 76535,
            76536],
           dtype='int64', length=76537)

In [4]:
SMS = SMS.dropna()
SMS = SMS.reset_index(drop=True)
SMS.columns = ['user.id', 'time', 'incoming', 'dest.user.id', 'dest.phone.hash']
print(SMS.isnull().sum())
print(SMS.index)

# id_phone = SMS[['dest.user.id.if.known', 'dest.phone.hash']].copy()
# id_phone = id_phone.dropna()
# id_phone = id_phone.drop_duplicates()
# id_phone = id_phone.sort_values(by='dest.user.id.if.known')
# id_phone.columns = ['user.id', 'phone.hash']
# id_phone = id_phone.reset_index(drop=True)
# id_phone.head(10)

user.id            0
time               0
incoming           0
dest.user.id       0
dest.phone.hash    0
dtype: int64
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            12723, 12724, 12725, 12726, 12727, 12728, 12729, 12730, 12731,
            12732],
           dtype='int64', length=12733)

In [5]:
SMS.head(10)
SMS.to_csv('./SMS_1.csv', index=False)

In [126]:
Relationships.head(10)

   id.A  id.B           relationship survey.date
0    47     2            CloseFriend  2008-09-09
1     2     2            CloseFriend  2008-09-09
2    57     2            CloseFriend  2008-09-09
3    73     2  SocializeTwicePerWeek  2008-09-09
4    55     2  SocializeTwicePerWeek  2008-09-09
5    47     2  SocializeTwicePerWeek  2008-09-09
6    51     2  SocializeTwicePerWeek  2008-09-09
7    52     2  SocializeTwicePerWeek  2008-09-09
8    40     2  SocializeTwicePerWeek  2008-09-09
9    66     2  SocializeTwicePerWeek  2008-09-09

In [24]:
print(Relationships.isnull().sum())
print(Relationships.index)

id.A            0
id.B            0
relationship    0
survey.date     0
dtype: int64
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            31908, 31909, 31910, 31911, 31912, 31913, 31914, 31915, 31916,
            31917],
           dtype='int64', length=31918)

In [127]:
close_friends = Relationships[Relationships['relationship'] == 'CloseFriend'].copy()

In [128]:
print(close_friends.head(10))
print(close_friends.index)

     id.A  id.B relationship survey.date
0      47     2  CloseFriend  2008-09-09
1       2     2  CloseFriend  2008-09-09
2      57     2  CloseFriend  2008-09-09
73      9    38  CloseFriend  2008-09-09
139    68    40  CloseFriend  2008-09-09
140    23    40  CloseFriend  2008-09-09
141    49    40  CloseFriend  2008-09-09
220    70    43  CloseFriend  2008-09-09
296    70    62  CloseFriend  2008-09-09
297    49    62  CloseFriend  2008-09-09
Int64Index([    0,     1,     2,    73,   139,   140,   141,   220,   296,
              297,
            ...
            31791, 31825, 31826, 31827, 31828, 31829, 31830, 31831, 31873,
            31874],
           dtype='int64', length=2577)

In [129]:
Calls.head(10)

,user_id,time_stamp,duration,dest_user_id_if_known,dest_phone_hash
0,19,2008-10-02 22:04:28,15,NaN,2088297235
1,19,2008-10-02 22:03:57,17,NaN,2088297235
2,19,2008-10-03 00:42:55,421,NaN,2939471263
3,19,2008-10-03 00:42:06,0,NaN,2088297235
4,19,2008-10-03 03:47:31,47,18,3620995333
5,19,2008-10-03 06:46:20,0,22,3839293194
6,19,2008-10-03 14:01:58,267,NaN,2939471263
7,19,2008-10-03 13:51:41,0,22,3839293194
8,19,2008-10-03 22:57:14,26,NaN,1473893544
9,19,2008-10-03 23:26:31,25,NaN,1473893544

In [130]:
# id_phone_2 = Calls[['dest_user_id_if_known', 'dest_phone_hash']].copy()
# id_phone_2.columns = ['user.id', 'phone.hash']
# id_phone_2 = id_phone_2.dropna()
# id_phone_2 = id_phone_2.drop_duplicates()
# id_phone_2 = id_phone_2.sort_values(by='user.id')
# id_phone_2 = id_phone_2.reset_index(drop=True)
# id_phone_2.head(10)

# id_phone = id_phone.append(id_phone_2, ignore_index=True)
# id_phone = id_phone.drop_duplicates()
# id_phone = id_phone.sort_values(by = 'user.id')
# id_phone = id_phone.reset_index(drop=True)
# id_phone
print(Calls.isnull().sum())

print(Calls.index)

user_id                   5403
time_stamp                   0
duration                     0
dest_user_id_if_known    51933
dest_phone_hash             27
dtype: int64
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            63814, 63815, 63816, 63817, 63818, 63819, 63820, 63821, 63822,
            63823],
           dtype='int64', length=63824)

In [132]:
Calls.columns = ['user.id', 'time', 'duration', 'dest.user.id', 'dest.phone.hash']
Calls = Calls.dropna()
Calls = Calls.reset_index(drop=True)
Calls.head(10)
Calls.to_csv('./Calls_1.csv', index=F)

   user.id                 time  duration  dest.user.id dest.phone.hash
0       19  2008-10-03 03:47:31        47            18      3620995333
1       19  2008-10-03 06:46:20         0            22      3839293194
2       19  2008-10-03 13:51:41         0            22      3839293194
3       19  2008-10-13 01:51:31         0            65      1569256956
4       19  2008-10-14 03:54:56        17            65      1569256956
5       19  2008-11-03 17:57:33        35            18      3620995333
6       19  2008-11-03 03:03:48         0            18      3620995333
7       19  2008-11-07 01:13:28        39            65      1569256956
8       19  2008-11-08 23:35:12        40            18      3620995333
9       19  2008-11-09 00:33:15        64            44      2314686049

In [133]:
print(Calls.isnull().sum())
print(Calls.index)

user.id            0
time               0
duration           0
dest.user.id       0
dest.phone.hash    0
dtype: int64
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10626, 10627, 10628, 10629, 10630, 10631, 10632, 10633, 10634,
            10635],
           dtype='int64', length=10636)